X_BEARER_TOKEN=
DISCORD_WEBHOOK_URL=
DISCORD_BOT_TOKEN=
X_USERNAME=Blue_ArchiveJP
X_USER_ID=1237586987969687555
X_USERNAME2=EN_BlueArchive
X_USER_ID2=1419538139392090112
FETCH_LIMIT=10
JP_PREFIX = 【生徒紹介】
BOOTSTRAP=0
DB_PATH=state.db
POST_HOUR_UTC=6
POST_MINUTE_UTC=30
DEV_DISCORD_USER_ID = 
DEV_GUILD_ID=
DM_DAILY_STATUS=true
EN_PREFIX_LIST=[Unique Pick-Up Recruitment Preview],[Pick-Up Recruitment Preview],[Unique Rerun Pick-Up Recruitment Preview],[Rerun Pick-Up Recruitment Preview]